version: 0.1.0.{build}

branches:
  except:
    - gh-pages

skip_tags: true

skip_commits:
  message: \[(ci skip|skip ci)\].*

clone_depth: 50

configuration:
  - Release

before_build:
  - nuget restore

test:
  assemblies:
    - '**\*.Tests.dll'
